<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'About me'})"></head>
<body>
    <th:block th:replace="fragments/navUserPanel"/>

    <div class="container" th:object="${map}">
        <h3 class="headerTitle">About me</h3>
        <hr/>
        <div class="row">
            <div class="col">
                <label class="col-sm-2 col-form-label">Id</label>
                <input readonly type="text" class="form-control" th:placeholder="${map.get('id')}">
            </div>
            <div class="col">
                <label class="col-sm-2 col-form-label">Login</label>
                <input readonly type="text" class="form-control" th:placeholder="${map.get('login')}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label class="col-sm-2 col-form-label">Email</label>
                <input readonly type="text" class="form-control" th:placeholder="${map.get('email')}">
            </div>
            <div class="col">
                <label class="col-sm-2 col-form-label">Phone</label>
                <input readonly type="text" class="form-control" th:placeholder="${map.get('phoneNumber')}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label class="col-sm-2 col-form-label">Password</label>
                <input readonly type="text" class="form-control" placeholder="Your password is encoded by default in our data base">
            </div>
            <div class="col">
                <label class="col-sm-2 col-form-label">Balance</label>
                <input readonly type="text" class="form-control" th:placeholder="${map.get('balance')}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label class="col-sm-2 col-form-label">Number</label>
                <input readonly type="text" class="form-control" th:placeholder="${map.get('bankAccountNumber')}">
            </div>
        </div>
        <br>
        <form action="#" method="get" th:action="@{/user-panel/change-email}">
            <button type="submit" class="btn btn-primary btn-block">Change email</button>
        </form>
        <br>
        <form action="#" method="get" th:action="@{/user-panel/change-phone}">
            <button type="submit" class="btn btn-primary btn-block">Change phone number</button>
        </form>
        <br>
        <form action="#" method="get" th:action="@{/user-panel/change-password}">
            <button type="submit" class="btn btn-primary btn-block">Change password</button>
        </form>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
