<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(#{accountVerificationSuccessTitle})"></head>
<body onload="successAlert('Congratulations', 'Your account has been verified!', 'success')">
    <th:block th:replace="fragments/navAnonymousUser"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{accountVerificationSuccessHeader}"></h3>
        <hr/>
        <h3 th:text="#{accountVerificationSuccessText1}"></h3>
        <h3><i><u><a th:href="@{/login}" th:text="#{accountVerificationSuccessText2}"></a></u></i></h3>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
