<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Verification success'})"></head>
<body onload="successAlert('Congratulations', 'Your account has been verified!', 'success')">
    <th:block th:replace="fragments/navAnonymousUser"/>

    <div class="container">
        <h3 class="headerTitle">Account verification success</h3>
        <hr/>
        <h4>Now u can <a th:href="@{/login}"><i><u>sign in</u></i></a> to the bank application!</h4>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
