<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Account verification'})"></head>
<body>
    <th:block th:replace="fragments/navRegister"/>

    <div class="container">
        <hr/>
        <div th:if="${flag==true}">
            <h3 class="alert alert-success">Congratulations! Your account has been verified!</h3>
            <h3>Now u can <a th:href="@{/login}"><u>sign in</u></a> to the bank application!</h3>
        </div>
        <div th:unless="${flag==true}">
            <h3 class="alert alert-warning">Oops! Your confirmation token has been expired!</h3>
            <h3>But don't worry! U can <a th:href="@{/register}"><u>register</u></a> your account again!</h3>
        </div>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
