<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/fontello/fontello.css}">
    <th:block th:replace="fragments/header(#{adminPanelTitle})"/>
</head>
<body>
    <th:block th:replace="fragments/navAdminPanel"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{adminPanelHeader} + ' ' + ${username}"></h3>
        <hr/>
        <div class="row userPanel">
            <div class="col-sm-6 col-md-5 offset-md-1">
                <figure>
                    <div class="overlay">
                        <a th:href="@{/admin-panel/users}"><img src="#" th:src="@{/img/users.png}" alt=""></a>
                        <a class="link" th:href="@{/admin-panel/users}">
                            <span class="icon"><i class="icon-users"></i><p><i th:text="#{adminPanelUsersIconText}"></i></p></span></a>
                    </div>
                    <p class="description" th:text="#{adminPanelUsersDescription}"></p>
                </figure>
            </div>

            <div class="col-sm-6 col-md-5">
                <figure>
                    <div class="overlay">
                        <a th:href="@{/admin-panel/bank-accounts}"><img src="#" th:src="@{/img/accounts.png}" alt=""></a>
                        <a class="link" th:href="@{/admin-panel/bank-accounts}">
                            <span class="icon"><i class="icon-accounts"></i><p><i th:text="#{adminPanelAccountsIconText}"></i></p></span></a>
                    </div>
                    <p class="description" th:text="#{adminPanelAccountsDescription}"></p>
                </figure>
            </div>

            <div class="col-sm-6 col-md-5" style="margin-left: 29%">
                <figure>
                    <div class="overlay">
                        <a th:href="@{/admin-panel/transactions}"><img src="#" th:src="@{/img/transactions.png}" alt=""></a>
                        <a class="link" th:href="@{/admin-panel/transactions}">
                            <span class="icon"><i class="icon-transactions"></i><p><i th:text="#{adminPanelTransactionsIconText}"></i></p></span></a>
                    </div>
                    <p class="description" th:text="#{adminPanelTransactionsDescription}"></p>
                </figure>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
