<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank accounts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>List of all bank accounts</h1>
        <hr/>
        <div th:if="${not#lists.isEmpty(bankAccounts)}">
            <table class="table table-striped">
                <tr>
                    <th>User id</th>
                    <th>Number</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
                <tr th:each="account:${bankAccounts}">
                    <td th:text="${account.userId}"></td>
                    <td th:text="${account.number}"></td>
                    <td th:text="${account.balance}"></td>
                    <td>
                        <form action="#" th:action="@{/admin-panel/bank-accounts/{userId}(userId=${account.userId})}" th:object="${DTO}" th:method="patch">
                            <input type="number" placeholder="Enter new balance" th:field="*{newBalance}">
                            <button type="submit" onclick="clicked(event, 'modify balance')" class="btn btn-danger">modify</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div th:unless="${not#lists.isEmpty(bankAccounts)}">
            <h3 class="alert alert-info">No bank accounts in database!</h3>
        </div>
        <br>
        <a th:href="@{/admin-panel}">Back to the admin-panel</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function clicked(e, msg) {
            if (!confirm('Are you sure u want to ' + msg + '?')) e.preventDefault();
        }
    </script>
</body>
</html>
