<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Bank accounts'})"></head>
<body>
    <th:block th:replace="fragments/navAuthenticatedAdmin"/>

    <div class="container">
        <h3 class="headerTitle">List of all bank accounts</h3>
        <hr/>
        <div th:if="${!bankAccounts.isEmpty()}">
            <table class="table">
                <tr class="tableHeader">
                    <th>User id</th>
                    <th>Number</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
                <tr class="tableContent" th:each="account:${bankAccounts}">
                    <td th:text="${account.id}"></td>
                    <td th:text="${account.number}"></td>
                    <td th:text="${account.balance}"></td>
                    <td>
                        <form action="#" th:action="@{/admin-panel/bank-accounts/{userId}(userId=${account.id})}" th:object="${DTO}" th:method="patch">
                            <input type="number" placeholder="Enter new balance" th:field="*{newBalance}">
                            <button type="submit" onclick="clicked(event, 'modify balance')" class="btn btn-danger">modify</button>
                        </form>
                    </td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li
                    th:each="i : ${#numbers.sequence(0, bankAccounts.totalPages - 1)}">
                    <a th:href="@{/admin-panel/bank-accounts/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' :''"></a>
                </li>
            </ul>
        </div>
        <div th:unless="${!bankAccounts.isEmpty()}">
            <h3 class="alert alert-info">No bank accounts in database!</h3>
        </div>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
