<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Phone number</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Change phone number</h1>
        <hr/>
        <form method="post" action="#" th:action="@{/change-phone}" th:object="${DTO}">
            Phone number <input type="text" placeholder="Your new phone number" th:field="*{phoneNumber}">
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('phoneNumber')}"><br></div>

            Confirm Phone number <input type="text" placeholder="Confirm your new phone number" th:field="*{confirmedPhoneNumber}" id="confirmedPhoneNumber">
            <p th:if="${#fields.hasErrors('confirmedPhoneNumber')}" th:errors="*{confirmedPhoneNumber}" class="alert alert-danger"></p>
            <br>

            <input type="submit" value="Submit">
        </form>
        <br>
        <a th:href="@{/about-me}">Back to the about me</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('input[type="text"]').change(function () {
                this.value = $.trim(this.value);
            });
        });
    </script>
</body>
</html>
