<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Change password</h1>
        <hr/>
        <form action="#" th:action="@{/user-panel/change-password}" th:object="${DTO}" th:method="patch">
            Password <input type="text" placeholder="Enter your new password" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('password')}"><br></div>

            Confirm Password <input type="text" placeholder="Confirm your new password" th:field="*{confirmedPassword}" id="confirmedPassword">
            <p th:if="${#fields.hasErrors('confirmedPassword')}" th:errors="*{confirmedPassword}" class="alert alert-danger"></p>
            <br>

            <button type="submit" class="btn btn-info">Change</button>
        </form>
        <br>
        <a th:href="@{/user-panel/about-me}">Back to the about me</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('input[type="text"]').change(function () {
                this.value = $.trim(this.value);
            });
        });
    </script>
</body>
</html>
