<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(#{forgotPasswordTitle})"></head>
<body>
    <th:block th:replace="fragments/navAnonymousUser"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{forgotPasswordHeader}"></h3>
        <hr/>
        <form method="post" action="#" th:action="@{/forgot-password}" th:object="${DTO}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" th:text="#{forgotPasswordEmailText}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{forgottenEmail}">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('forgottenEmail')}" th:errors="*{forgottenEmail}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('forgottenEmail')}"><br></div>

            <button type="submit" class="btn btn-primary btn-block" th:text="#{buttonSubmit}"></button>
        </form>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
