<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Homepage</h1>
        <hr/>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/user-panel}">Go to the user panel</a>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/admin-panel}">Go to the admin panel</a>
            </div>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/register}">Register</a>
            <br>
            <a th:href="@{/login}">Sign in</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
