<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Homepage'})"></head>
<body>
    <th:block th:replace="fragments/navHome"/>

    <div class="container">
        <h3 class="headerTitle">Homepage</h3>
        <hr/>
        <h1 style="text-align: center">Welcome to my web bank account application! <br>
        <a target="_blank" href="https://github.com/RobertKrzywina/project"><i><u>Click to see code at GitHub.</u></i></a></h1>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
