<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Sign in</h1>
        <hr/>
        <form method="post" action="#" th:action="@{/login}" th:object="${user}">
            Login <input type="text" placeholder="John Doe" th:field="*{login}">
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="alert alert-danger"></p>
            <br>
            Password <input type="password" placeholder="Password" th:field="*{password}" id="password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
            <br>
            <input type="submit" value="Submit">
        </form>
        <a th:href="@{/register}">Don't have account yet?</a>
        <br>
        <a th:href="@{/}">Back</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
