<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(#{loginTitle})"></head>
<body>
    <th:block th:replace="fragments/navLogin"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{loginHeader}"></h3>
        <hr/>
        <h3 th:if="${msg!=null}" class="alert alert-info" th:text="#{successfullyLoggedOut}"></h3>
        <form method="post" action="#" th:action="@{/login}" th:object="${user}">
            <div class="row">
                <div class="col">
                    <label class="col-sm-2 col-form-label" th:text="#{valueLogin}"></label>
                    <input type="text" class="form-control" th:field="*{login}">
                </div>
                <div class="col">
                    <label class="col-sm-2 col-form-label" th:text="#{valuePassword}"></label>
                    <input type="password" class="form-control" th:field="*{password}">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('password')}"><br></div>

            <button type="submit" class="btn btn-primary btn-block" th:text="#{buttonLogin}"></button>
        </form>
        <i><u><a th:href="@{/register}" th:text="#{dontHaveAccountYet}"></a></u></i><br>
        <i><u><a th:href="@{/forgot-password}" th:text="#{forgotYourPassword}"></a></u></i>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
