<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Sign in'})"></head>
<body>
    <th:block th:replace="fragments/navLogin"/>

    <div class="container">
        <h3 class="headerTitle">Log into application</h3>
        <hr/>
        <h3 th:if="${msg!=null}" class="alert alert-info">You have successfully logged out!</h3>
        <form method="post" action="#" th:action="@{/login}" th:object="${user}">
            <div class="row">
                <div class="col">
                    <label class="col-sm-2 col-form-label">Login</label>
                    <input type="text" class="form-control" th:field="*{login}">
                </div>
                <div class="col">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <input type="password" class="form-control" th:field="*{password}">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('password')}"><br></div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <a th:href="@{/register}"><i><u>Don't have account yet?</u></i></a><br>
        <a th:href="@{/forgot-password}"><i><u>Forgot your password?</u></i></a>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
