<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(#{resetPasswordFailureTitle})"></head>
    <body onload="successAlert('Oops...', 'Reset token has been expired!', 'warning')">
    <th:block th:replace="fragments/navAnonymousUser"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{resetPasswordFailureHeader}"></h3>
        <hr/>
        <h4 th:text="#{resetPasswordFailureText1}"></h4>
        <h3><i><u><a th:href="@{/forgot-password}" th:text="#{resetPasswordFailureText2}"></a></u></i></h3>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
