<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(#{resetPasswordCompletedTitle})"></head>
<body onload="successAlert('Congratulations', 'You changed your password!', 'success')">
    <th:block th:replace="fragments/navAnonymousUser"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{resetPasswordCompletedHeader}"></h3>
        <hr/>
        <h3 th:text="#{resetPasswordCompletedText1}"></h3>
        <h3><i><u><a th:href="@{/register}" th:text="#{resetPasswordCompletedText2}"></a></u></i></h3>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
