<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Reset password completed'})"></head>
<body>
    <th:block th:replace="fragments/navAnonymousUser"/>

    <div class="container">
        <h3>Reset password completed</h3>
        <hr/>
        <h3 class="alert alert-success">You have successfully reset your password!</h3>
        <h3>Now you can <u><a th:href="@{/login}">sign in!</a></u></h3>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
