<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send transaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Send transaction</h1>
        <hr/>
        <form action="#" method="post" th:action="@{/send-transaction}" th:object="${transaction}">
            Current balance <input readonly="readonly" th:placeholder="${currentBalance}">
            <br>
            <br>

            Title <input type="text" placeholder="Gift" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('title')}"><br></div>

            Description<br> <textarea rows="5" cols="80" placeholder="Enjoy your money :)" th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('description')}"><br></div>

            Sender bank account number <input readonly="readonly" th:placeholder="${senderAccountNumber}">
            <br>
            <br>

            Receiver bank account number<input type="text" placeholder="PL00 0000 0000 0000 0000 0000" th:field="*{receiverAccountNumber}">
            <p th:if="${#fields.hasErrors('receiverAccountNumber')}" th:errors="*{receiverAccountNumber}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('receiverAccountNumber')}"><br></div>

            Amount <input type="number" placeholder="00.1" th:field="*{amount}">
            <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('amount')}"><br></div>
            <br>

            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
