<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send transaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Send transaction</h1>
        <hr/>
        <form action="#" method="post" th:action="@{/user-panel/send-transaction}" th:object="${transaction}">
            Current balance <input readonly="readonly" th:placeholder="${currentBalance}">
            <br>
            <br>

            Title <input type="text" placeholder="Gift" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('title')}"><br></div>

            Description<br> <textarea rows="5" cols="80" style="resize: none;" placeholder="Enjoy your money :)" th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('description')}"><br></div>

            Sender bank account number <input readonly="readonly" th:placeholder="${senderAccountNumber}">
            <br>
            <br>

            Receiver bank account number<input type="text" placeholder="PL00 0000 0000 0000 0000 0000 " maxlength="29" th:field="*{receiverAccountNumber}">
            <p th:if="${#fields.hasErrors('receiverAccountNumber')}" th:errors="*{receiverAccountNumber}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('receiverAccountNumber')}"><br></div>

            Amount <input type="number" step="any" placeholder="1.99" th:field="*{amount}">
            <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('amount')}"><br></div>
            <br>

            <input type="submit" value="Submit">
        </form>
        <br>
        <a th:href="@{/user-panel}">Back to the user panel</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
