<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Send transaction'})"></head>
<body>
    <th:block th:replace="fragments/navUserPanel"/>

    <div class="container">
        <h3 class="headerTitle">Send transaction</h3>
        <hr/>
        <form action="#" method="post" th:action="@{/user-panel/send-transaction}" th:object="${transaction}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Current balance</label>
                <div class="col-sm-10">
                    <input readonly class="form-control" th:placeholder="${currentBalance}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{title}">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('title')}"><br></div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea rows="3" cols="89" style="resize: none;" th:field="*{description}" maxlength="255"></textarea>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('description')}"><br></div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">From</label>
                <div class="col-sm-10">
                    <input readonly type="text" class="form-control" th:placeholder="${senderAccountNumber}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">To</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{receiverAccountNumber}" maxlength="29">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('receiverAccountNumber')}" th:errors="*{receiverAccountNumber}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('receiverAccountNumber')}"><br></div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Amount</label>
                <div class="col-sm-10">
                    <input type="number" step="any" class="form-control" th:field="*{amount}">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('amount')}"><br></div>

            <button type="submit" class="btn btn-primary btn-block">Send</button>
        </form>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
