<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Send transaction completed'})"></head>
<body>
    <th:block th:replace="fragments/navAuthenticatedUser"/>

    <div class="container">
        <hr/>
        <h3 class="alert alert-success">You have successfully sent transaction!</h3>
        <a th:href="@{/user-panel/sent-transactions}">See list of your sent transactions!</a>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
