<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sent transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Sent transactions</h1>
        <hr/>
        <div th:if="${not #lists.isEmpty(transactions)}">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.title}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.number}"></td>
                    <td th:text="${transaction.date}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
            </table>
        </div>
        <div th:unless="${not #lists.isEmpty(transactions)}">
            <h3 class="alert alert-info">You have no sent transactions!</h3>
        </div>
        <br>
        <a th:href="@{/user-panel}">Back to the user panel</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
