<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(#{sentTransactionsTitle})"></head>
<body>
    <th:block th:replace="fragments/navUserPanel"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{sentTransactionsHeader}"></h3>
        <hr/>
        <div th:if="${!transactions.isEmpty()}">
            <table class="table table-striped table-dark">
                <tr>
                    <th th:text="#{valueId}"></th>
                    <th th:text="#{valueTitle}"></th>
                    <th th:text="#{valueDescription}"></th>
                    <th th:text="#{valueTo}"></th>
                    <th th:text="#{valueDate}"></th>
                    <th th:text="#{valueAmount}"></th>
                </tr>
                <tr th:each="transaction, iterator:${transactions}">
                    <td th:text="${values[iterator.index]}"></td>
                    <td th:text="${transaction.title}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.receiverAccountNumber}"></td>
                    <td th:text="${transaction.date}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li
                    th:each="i : ${#numbers.sequence(0, transactions.totalPages - 1)}">
                    <a th:href="@{/user-panel/sent-transactions/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
        <div th:unless="${!transactions.isEmpty()}">
            <h3 class="alert alert-info" th:text="#{sentTransactionsEmpty}"></h3>
        </div>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
