<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sent transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/user-panel}" class="nav-link">User panel</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a th:href="@{/admin-panel}" class="nav-link">Admin panel</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link" onclick="clicked(event, 'logout')">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>List of your sent transactions</h3>
        <hr/>
        <div th:if="${!transactions.isEmpty()}">
            <table class="table">
                <tr class="tableHeader">
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                <tr class="tableContent" th:each="transaction:${transactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.title}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.receiverAccountNumber}"></td>
                    <td th:text="${transaction.date}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li
                    th:each="i : ${#numbers.sequence(0, transactions.totalPages - 1)}">
                    <a th:href="@{/user-panel/sent-transactions/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
        <div th:unless="${!transactions.isEmpty()}">
            <h3 class="alert alert-info">You have no sent transactions!</h3>
        </div>
    </div>

    <div th:replace="fragments/footer::footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>
