<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Token sent'})"></head>
<body>
    <th:block th:replace="fragments/navAnonymousUser"/>

    <div class="container">
        <hr/>
        <h3 class="alert alert-success" th:text="'A verification token has been sent to: ' + ${email}"></h3>
        <h3>Confirmation token has been sent to your email. After 15 minutes token will expire so please, confirm it.</h3>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
