<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Transactions'})"></head>
<body>
    <th:block th:replace="fragments/navAuthenticatedAdmin"/>

    <div class="container">
        <h3>List of all transactions</h3>
        <hr/>
        <div th:if="${!transactions.isEmpty()}">
            <table class="table">
                <tr class="tableHeader">
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                <tr class="tableContent" th:each="transaction:${transactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.title}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.senderAccountNumber}"></td>
                    <td th:text="${transaction.receiverAccountNumber}"></td>
                    <td th:text="${transaction.date}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li
                    th:each="i : ${#numbers.sequence(0, transactions.totalPages - 1)}">
                    <a th:href="@{/admin-panel/transactions/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
        <div th:unless="${!transactions.isEmpty()}">
            <h3 class="alert alert-info">No transactions in database!</h3>
        </div>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
