<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>List of all transactions</h1>
        <hr/>
        <div th:if="${!transactions.isEmpty()}">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                <tr th:each="transaction:${transactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.title}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.senderAccountNumber}"></td>
                    <td th:text="${transaction.receiverAccountNumber}"></td>
                    <td th:text="${transaction.date}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li class="nav-item"
                    th:each="i : ${#numbers.sequence(0, transactions.totalPages - 1)}">
                    <a th:href="@{/admin-panel/transactions/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
        <div th:unless="${!transactions.isEmpty()}">
            <h3 class="alert alert-info">No transactions in database!</h3>
        </div>
        <br>
        <a th:href="@{/admin-panel}">Back to the admin-panel</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
