<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header(${'Users'})"></head>
<body>
    <th:block th:replace="fragments/navAuthenticatedAdmin"/>

    <div class="container">
        <h3>List of all users</h3>
        <hr/>
        <div th:if="${!users.isEmpty()}">
            <table class="table">
                <tr class="tableHeader">
                    <th>Id</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Password</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
                <tr class="tableContent" th:each="user:${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td>Encoded</td>
                    <td th:if="${user.getRoles().size()==1}">user</td>
                    <td th:unless="${user.getRoles().size()==1}">user, admin</td>
                    <td th:if="${user.getRoles().size()==1}">
                        <form action="#" th:action="@{/admin-panel/users/{id}(id=${user.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" onclick="clicked(event, 'delete current user')" class="btn btn-danger">delete</button>
                        </form>
                    </td>
                    <td th:unless="${user.getRoles().size()==1}">
                        <button type="submit" class="btn btn-secondary" disabled>delete</button>
                    </td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li
                    th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}">
                    <a th:href="@{/admin-panel/users/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
        <div th:unless="${!users.isEmpty()}">
            <h3 class="alert alert-info">No users in database!</h3>
        </div>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
