<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/fontello/fontello.css}">
    <th:block th:replace="fragments/header(#{userPanelTitle})"/>
</head>
<body>
    <th:block th:replace="fragments/navUserPanel"/>

    <div class="container">
        <h3 class="headerTitle" th:text="#{userPanelHeader} + ' ' + ${username}"></h3>
        <hr/>
        <div class="row userPanel">
            <div class="col-sm-6 col-md-5 offset-md-1">
                <figure>
                    <div class="overlay">
                        <a th:href="@{/user-panel/about-me}"><img src="#" th:src="@{/img/aboutMe.png}" alt=""></a>
                        <a class="link" th:href="@{/user-panel/about-me}">
                            <span class="icon"><i class="icon-user"></i><p><i th:text="#{userPanelAboutMeIconText}"></i></p></span></a>
                    </div>
                    <p class="description" th:text="#{userPanelAboutMeDescription}"></p>
                </figure>
            </div>

            <div class="col-sm-6 col-md-5">
                <figure>
                    <div class="overlay">
                        <a th:href="@{/user-panel/send-transaction}"><img src="#" th:src="@{/img/sendTransaction.png}" alt=""></a>
                        <a class="link" th:href="@{/user-panel/send-transaction}">
                            <span class="icon"><i class="icon-sendTransaction"></i><p><i th:text="#{userPanelSendTransactionIconText}"></i></p></span></a>
                    </div>
                    <p class="description" th:text="#{userPanelSendTransactionDescription}"></p>
                </figure>
            </div>

            <div class="col-sm-6 col-md-5 offset-md-1">
                <figure>
                    <div class="overlay">
                        <a th:href="@{/user-panel/received-transactions}"><img src="#" th:src="@{/img/receivedTransactions.png}" alt=""></a>
                        <a class="link" th:href="@{/user-panel/received-transactions}">
                            <span class="icon"><i class="icon-receivedTransactions"></i><p><i th:text="#{userPanelReceivedTransactionIconText}"></i></p></span></a>
                    </div>
                    <p class="description" th:text="#{userPanelReceivedTransactionDescription}"></p>
                </figure>
            </div>

            <div class="col-sm-6 col-md-5">
                <figure>
                    <div class="overlay">
                        <a th:href="@{/user-panel/sent-transactions}"><img src="#" th:src="@{/img/sentTransactions.png}" alt=""></a>
                        <a class="link" th:href="@{/user-panel/sent-transactions}">
                            <span class="icon"><i class="icon-sentTransactions"></i><p><i th:text="#{userPanelSentTransactionIconText}"></i></p></span></a>
                    </div>
                    <p class="description" th:text="#{userPanelSentTransactionDescription}"></p>
                </figure>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer"/>
    <th:block th:replace="fragments/scripts"/>
</body>
</html>
